@charset "utf-8";

.section1 {
  position: relative;
  color: #fff;
}

.section1 .slider > div.active {
  display: block;
}

.section1 .slider > div {
  height: 730px;
  overflow: hidden;
  display: none;
}

.section1 .slider img {
  top: -30%;
}

.section1 .contents .previous {
  position: absolute;
  left: 0; top: 50%;
  transform: translateY(-50%);
}

.section1 .contents .next {
  position: absolute;
  right: 0; top: 50%;
  transform: translateY(-50%);
}

.section1 .contents h2 {
  font-size: 54px;
}
.section1 .contents p{ 
  padding-top: 20px;
  font-size: 28px;
  font-weight: 300;
}

.section1 .contents span:nth-child(2) {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section1 .contents div {
  display: inline-block;
  width: 28px; height: 28px;
  background-color: rgba(255, 255, 255, 0.2);
}

.section2 {
  height: 400px;
  position: relative;
}

.section2 .wrap {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  width: 1160px;
  text-align: center;
}

.section2 .wrap h2{
  font-size: 28px;
}

.section2 .wrap h2{
  margin: 20px 0;
}

.section2 .wrap p{
  font-size: 13px;
  padding: 13px 0;
}

.section2 .wrap div:nth-child(3) > div {
  display: inline-block;
  margin-top: 20px;
  width: 20%;
}
.section2 .wrap div:nth-child(3) > div img { 
  border-radius: 50%;
}

.section3 {
  background: #CEE7B7;
  padding: 50px 0;
  text-align: center;
}

.section3 .wrap {
  width: 1140px;
  padding: 10px;
  display: inline-block;
}

.section3 .wrap .box {
  position: relative;
  height: 40px;
  /* border: 1px solid #000; */
}

.section3 .wrap .box h3 {
  font-size: 30px;
  float: left;
}
.section3 .wrap .box a {
  font-size: 16px;
  float: right;
}

.section3 .wrap .box2 {
  height: 826px;
  /* border: 1px solid #000; */
}

.section3 .wrap article {
  width: 33.33%;
  height: 50% ;
  float: left;
  padding: 10px;
  text-align: left;
  
}

.section3 .wrap article div {
  background: #fff;
  height: 100%;
}

.section3 .wrap article > div > a {
  display: block;
  height: 230px;
  position: relative;
  overflow: hidden;
}

.section3 .wrap article > div > a img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.section3 .wrap article:nth-child(4) > div > a img {
  position: absolute;
  left: 0; top: 0;
  transform: scaleY(1.5);
}


.section3 .wrap article div > div{
  padding: 15px;
  height: 108px;
  overflow: hidden;
}

.section3 .wrap article div > div > a{
  font-size: 18px;
  display: block;
  margin: 10px 0 5px;
}

.section3 .wrap article div > div >  p{
  display: block;
  font-size: 14px;
  text-overflow: ellipsis;
  line-height: 1.4em;
  color: #888;
}

.section4 {
  height: 375px;
  background-image: url(../img/homepage-5-9.jpg);
  background-position: center;
  color: #fff;
  text-align: center;
  position: relative;
}

.section4 .banner{
  height: 202px;
  position: absolute;
  top: 50%; left: 50%;  
  transform: translate(-50%, -50%);
  padding: 10px;
}

.section4 div h2 {
  font-size: 26px;
  display: block;
  height: 30%;
}

.section4 div p {
  font-size: 13px;
  display: block;
  height: 40%;
}

.section4 .banner a{
  display: inline-block;
  font-size: 18px;
  padding: 16px 40px;
  border-radius: 5px;
  background: #76a34e;
}

.section4 .banner a:hover{ 
  background: #699642;
}


.section5 > div {
  height: 546px;
  padding: 50px 0;
  text-align: center;
  background: #f8f9fa;
}

.section5  div .box {
  display: inline-block ;
  /* border: 1px solid #000; */
  text-align: center;
  padding: 10px;
  width: 1140px;
  height: 446px;
}

.section5  div .box .latest {
  height: 30px;
  /* border: 1px solid #000; */
  position: relative;
  margin-bottom: 10px;
}

.section5 div .box .latest h2{ 
  font-size: 30px;
  position: absolute;
  left: 0;

}
.section5  div .box .latest p {
  font-size: 16px;
  position: absolute;
  right: 0; top: 50%;
  transform: translateY(-50%);
} 

.section5 div .news {
  display: inline-block;
  width: 33%;
  height: 380px;
  padding: 10px;
}

.section5 .box .news > a {
  display: block;
  position: relative;
  height: 230px;
  overflow: hidden;
}

.section5 .box .news > a img { 
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
}

.section5 div .news div {
  height: 130px;
  padding: 10px;
  background: #fff;
  text-align: left;
  overflow: hidden;
}
.section5 div .news div a{
  display: block;
  font-size: 18px;
  margin: 10px 0 5px;
}

.section5 div .news div p{
  font-size: 14px;
  color: #999 ;
  text-overflow: ellipsis;
  line-height: 1.4em;

}


